
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

@import "null.css";

body {
   font-family: 'Lato', sans-serif;
}
[class*="__container"]{
	max-width: 1230px;
	margin: 0 auto;
}
.main-screen {
   background: url('../img/main-screen/background.jpg') 0 0 / cover no-repeat;
   padding: 22px 0px 80px 0px;
   margin-bottom: 180px;
}

/* <HEADER> =================================================================== */
.header {
   margin-bottom: 138px;
}
.header__logo {
   display: inline-block;
   max-width: 135px;
   margin-right: 55px;
   border: 3px solid red;
}
.header__menu {
   display: inline-block;
   margin-right: 200px;
}
.header__menu a:not(:last-child) {
   margin-right: 40px;
}
.header__menu a {
   font-weight: 700;
   font-size: 16px;
   line-height: 160%;
   color: #424551;
}
.header__buttons {
   display: inline-block;
}
.button-get.button1 {
   margin-right: 36px;
}
.button1 {
   display: inline-block;
   width: 206px;
   height: 52px;
   font-weight: 700;
   line-height: 52px;
   text-align: center;
   letter-spacing: 0.5px;
   color: #FFFFFF;
   background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
   border-radius: 4px;
}
.log-in {
   display: inline-block;
   min-height: 20px;
   font-weight: 700;
   line-height: 160%;
   color: #424551;
   
}
.log-in::before {
   display: inline-block;
   content: '';
   width: 23px;
   height: 23px;
   background: url('../img/main-screen/icon-person.svg') 0px 0px no-repeat;
   margin-bottom: -4px;
   margin-right: 8px;
   border: 3px solid blue;
}
/* </HEADER> =================================================================== */

/* <MAIN-SCREEN> =============================================================== */
.main-screen__body {
   margin-bottom: 189px;
}
.body__left {
   display: inline-block;
   max-width: 500px;
   margin-right: 100px;
}
.play__button {
   width: 84px;
   height: 84px;
   margin-bottom: 24px;
   border: 3px solid blue;
}
.main-screen__title {
   font-weight: 900;
   font-size: 64px;
   line-height: 130%;
   color: #1E212C;
   margin-bottom: 60px;
}
.button2 {
   display: inline-block;
   font-weight: 700;
   line-height: 52px;
   text-align: center;
   letter-spacing: 0.5px;
   color: #FF3F3A;
   width: 148px;
   height: 52px;
   border: 1px solid #FF3F3A;
   border-radius: 4px;
}
.button-about.button2 {
   margin-right: 24px;
}
.illustration {
   max-width: 600px;
   border: 3px solid red;
}
.students p {
   display: inline-block;
   font-weight: 400;
   line-height: 160%;
   color: #1E212C;
}
.number {
   font-weight: 900;
   font-size: 46px;
   line-height: 130%;
   color: #1E212C;
}
.students p::before {
   display: inline-block;
   content: '';
   width: 15px;
   height: 15px;
   background: url('../img/main-screen/ellipse.svg') no-repeat;
   margin: 0px 60px 0px 60px;
}
.students p:first-child::before {
   display: none;
}
/* </MAIN-SCREEN> =============================================================== */

/* <BLOCK1> ====================================================================== */
.block1 {
   background: url('../img/block1/background.jpg')0 0 / cover no-repeat;
   margin-bottom: 180px;
}
picture {
   margin-right: 130px;
}
picture img {
   max-width: 705px;
   border: 3px solid red;
}
.block1__right {
   display: inline-block;
   max-width: 390px;
}
.subtitle {
   font-weight: 700;
   line-height: 150%;
   letter-spacing: 1px;
   text-transform: uppercase;
   color: #1E212C;
   margin-bottom: 8px;
}
.block1__title.title {
   margin-bottom: 40px;
}
.title {
   font-weight: 900;
   font-size: 46px;
   line-height: 130%;
   color: #1E212C;
   margin-bottom: 60px;
}
.block1__list {
   margin-bottom: 48px;
}
.block1__list li {
   font-weight: 400;
   line-height: 160%;
   color: #424551;
   background: url('../img/block1/check.png') 0 5px no-repeat;
   padding-left: 32px;
}
.block1__list li:not(:last-child) {
   margin-bottom: 12px;
}
.block1 .button {
   margin: 0px;
}
.block1__right >*:last-child {
	margin-bottom: 0px;
}
/* </BLOCK1> ====================================================================== */

/* <BLOCK2> ======================================================================= */
.block2 {
   margin-bottom: 180px;
}
.block2__text {
   display: inline-block;
   margin-right: 600px;
}
.block2__title.title {
   margin-bottom: 0px;
}
.block2__button {
   display: inline-block;
}
.view-button.button2 {
   width: 202px;
}
.block2__cards {
}
.block2__cards-left {
   display: inline-block;
   margin-right: 25px;
}
.block2__cards-left div:not(:last-child) {
   margin-bottom: 25px;
}
.block2__cards-right div:not(:last-child) {
   margin-bottom: 25px;
}
.block2__cards-right {
   display: inline-block;
}
.block2__text-button {
   margin-bottom: 60px;
}
.card__item1 {
   width: 600px;
   border: 1px solid #E5E8ED;
   box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
   border-radius: 4px;
}
.item1__image {
   border: 3px solid red;
   max-width: 214px;
}
.item1__text {
   display: inline-block;
   width: 325px;
   padding: 32px;
}
.item1__text div:not(:last-child) {
   margin-bottom: 20px;
}
.item1__text-position {
   display: inline-block;
   border-radius: 4px;
   font-size: 14px;
   line-height: 150%;
   color: #FFFFFF;
   padding: 1px 8px 1px 8px;
}
.success {
   background: #03CEA4;
}
.warning {
   background-color: #F89828;
}
.info {
   background-color: #5A87FC;
}
.pink {
   background-color: #F52F6E;
}
.item1__text-scecial {
   font-weight: 700;
   font-size: 20px;
   line-height: 150%;
   color: #1E212C;
}
.item1__text-price {
   font-size: 18px;
   line-height: 150%;
   color: #787A80;
}
.orange {
   font-weight: 700;
   font-size: 18px;
   line-height: 150%;
   color: #FF4242;
}
.orange::after {
   display: inline-block;
   content: '';
   width: 2px;
   height: 18px;
   background-color: #787A80;
   margin: 0px 8px;
}
/* </BLOCK2> ======================================================================= */

/* <BLOCK3> ====================================================================== */
.block3 {
   margin-bottom: 120px;
}
.block3 .subtitle {
   text-align: center;
}
.block3 .title {
   text-align: center;
}
.block3__tabs {
   margin-bottom: 60px;
}
.tabs__link {
   display: inline-block;
   width: 300px;
   font-weight: 700;
   line-height: 160%;
   text-align: center;
   color: #9A9CA5;
   padding: 10px 0px;
}
.active {
   color: #FF3F3A;
   border: 1px solid #FF3F3A;
   border-radius: 4px;
}
.buble::before,
.pages::before,
.like::before,
.active::before {
   content: '';
   display: inline-block;
   width: 20px;
   height: 20px;
   background: url('../img/block3/star.svg') no-repeat;
   margin-bottom: -2px;
   margin-right: 8px;
   border: 2px solid blue;
}
.like::before {
   background: url('../img/block3/like.svg') no-repeat;
}
.pages::before {
   background: url('../img/block3/pages.svg') no-repeat;
}
.buble::before {
   background: url('../img/block3/babls.svg') no-repeat;
}
.block3__tabs-body {
}
.tabs-body__text {
   display: inline-block;
   width: 495px;
   padding: 90px 0px 0px 0px;
   margin-right: 130px;
}
.tabs-body__text-title {
   font-weight: 900;
   font-size: 32px;
   line-height: 130%;
   color: #1E212C;
   margin-bottom: 34px;
}
.tabs-body__text-text {
   line-height: 160%;
   color: #424551;
}
.tabs-body__image {
   max-width: 600px;
   border: 3px solid red;
}
/* </BLOCK3> ====================================================================== */

/* <BLOCK4> =========================================================== */
.block4 {
   margin-bottom: -160px;
}
.block4__text {
   display: inline-block;
   width: 392px;
   margin-right: 90px;
}
.subtitle {
}
.block4__text .title {
   margin-bottom: 48px;
}
.block4__text-text {
   line-height: 160%;
   color: #424551;
   margin-bottom: 32px;
}
.block4__text-logos {
}
.text-logos__link {
   display: inline-block;
   width: 110px;
   height: 50px;
   border: 3px solid red;
}
.block4__text-logos a:not(:last-child) {
   margin-right: 25px;
}
.block4__image {
   max-width: 700px;
   border: 3px solid red;
}
/* </BLOCK4> =========================================================== */

/* <BLOCK5> ============================================================ */
.block5 {
   padding: 166px 0px 100px 0px;
   background: #F4F5F7;
}
.block5__text-arrows {
   margin-bottom: 60px;
}
.block5__text .title {
   margin-bottom: 0px;
}
.block5__text {
   display: inline-block;
   margin-right: 830px;
}
.arrow-prev {
   padding-top: 12px;
   border: 3px solid blue;
}
.arrow-next {
   border: 3px solid blue;
}
.block5__people {
   margin-bottom: 180px;
}
.people__item {
   display: inline-block;
   width: 285px;
}
.block5__people .people__item:not(:last-child) {
   margin-right: 25px;
}
.people__item-image {
   max-width: 100%;
   margin-bottom: 16px;
   border: 3px solid red;
}
.name {
   font-weight: 700;
   font-size: 20px;
   line-height: 150%;
   text-align: center;
   color: #424551;
   margin-bottom: 4px;
}
.position {
   line-height: 160%;
   text-align: center;
   color: #787A80;
   margin-bottom: 4px;
}
.people__item >*:last-child {
	margin-bottom: 0px;
}
/* <QUOTE> ============================================================= */
.block5__quote {
}
.block5__quote .title,
.block5__quote .subtitle {
   text-align: center;
}
.quote {
   margin-bottom: 60px;
}
.quote .arrow-prev {
   margin-right: 50px;
}
.quote__budy {
   display: inline-block;
   width: 1020px;
   background-color: #fff;
   margin-right: 50px;
   padding: 64px 105px 64px 105px;
   box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
   border-radius: 4px;
}
.quote__text {
   font-size: 20px;
   line-height: 150%;
   color: #424551;
   background: url('../img/block5/braces.svg') 0 0 no-repeat;
   padding: 0px 0px 0px 58px;
   margin-bottom: 24px;
}
.quote__user {
   padding: 0px 0px 0px 58px;
}
.user-image {
   max-width: 72px;
   margin-right: 20px;
   border: 3px solid red;
}
.quote__user-text {
   display: inline-block;
   padding: 11px 0px 0px 0px;
}
.quote__user-text div:not(:last-child) {
   margin-bottom: 4px;
}
.user-text__name {
   font-weight: 700;
   line-height: 160%;
   color: #1E212C;
}
.user-text__position {
   font-size: 14px;
   line-height: 150%;
   color: #787A80;
}
.arrow-next {
}
.dots-image {
   display: block;
   margin: 0px auto;
}
/* </QUOTE> ============================================================= */
/* </BLOCK5> ============================================================ */